.Site3 {
  min-height: 100%;
  display: grid;
  /* grid-template-rows: auto 1fr auto; */

  grid-template-areas:
    "header header header"
    "details window prod-nav"
    "footer footer footer";

  grid-template-columns: 200px auto 200px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;
}

.Nav {
  grid-area: header;
}

.content-details {
  grid-area: details;
}

.product-nav {
  grid-area: prod-nav;
}

.content-window {
  grid-area: window;
}

.Footer {
  grid-area: footer;
}
