.Site1 {
  background-image: url("https://www.syfy.com/sites/syfy/files/styles/1200x680/public/2017/11/x_characters.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
